n8n/workflows/mealie-to-ha-sync.json
{
  "name": "Shopping List - Mealie \u2192 Home Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mealie-shopping-sync",
        "options": {}
      },
      "id": "b1c2d3e4-0010-4000-a000-000000000001",
      "name": "Mealie Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        340
      ],
      "webhookId": "mealie-shopping-sync"
    },
    {
      "parameters": {
        "jsCode": "// Parse the Apprise JSON notification from Mealie\n// Webhook v2 wraps payload under 'body'; handle both cases\nconst raw = $input.first().json;\nconst input = raw.body ?? raw;\n\n// The document_data may arrive as JSON string or pre-parsed object.\n// Mealie/Apprise embeds Flatted-style '+' prefixes on values, e.g.\n//   {\"key\":+\"value\",+\"key2\":+\"value2\"}\n// which is NOT valid JSON, so we strip them before parsing.\nlet docData;\ntry {\n  let dd = input.document_data;\n  if (dd && typeof dd === 'object' && dd !== null) {\n    docData = dd;\n  } else if (typeof dd === 'string') {\n    // Strip Flatted-style '+' prefixes: :+\"val\" → :\"val\" and ,+\"key\" → ,\"key\"\n    const cleaned = dd.replace(/([,:\\[])\\+/g, '$1');\n    docData = JSON.parse(cleaned);\n  } else {\n    docData = {};\n  }\n} catch (e) {\n  docData = {};\n}\n\n// Support both camelCase (Mealie native) and snake_case field names\nconst eventType = input.event_type ?? '';\nconst operation = docData.operation ?? 'unknown';\nconst documentType = docData.documentType ?? docData.document_type ?? 'unknown';\nconst shoppingListId = docData.shoppingListId ?? docData.shopping_list_id ?? null;\n\nconst shoppingListItemId = docData.shoppingListItemId ?? docData.shopping_list_item_id ?? null;\nconst shoppingListItemIds = docData.shoppingListItemIds ?? docData.shopping_list_item_ids ?? [];\n\nconst itemIds = shoppingListItemId\n  ? [shoppingListItemId]\n  : (Array.isArray(shoppingListItemIds) ? shoppingListItemIds : []);\n\nif (itemIds.length === 0) {\n  return [];  // No items to sync\n}\n\nreturn itemIds.map(id => ({\n  json: {\n    eventType,\n    operation,\n    documentType,\n    shoppingListId,\n    shoppingListItemId: id,\n    integrationId: input.integration_id ?? ''\n  }\n}));"
      },
      "id": "b1c2d3e4-0010-4000-a000-000000000020",
      "name": "Parse Apprise Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-item-event",
              "leftValue": "={{ $json.documentType }}",
              "rightValue": "shopping_list_item",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b1c2d3e4-0010-4000-a000-000000000021",
      "name": "Is Item Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        340
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Created"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Updated"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Deleted"
            }
          ]
        },
        "options": {}
      },
      "id": "b1c2d3e4-0010-4000-a000-000000000003",
      "name": "Route by Operation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        900,
        340
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.MEALIE_URL }}/api/households/shopping/items/{{ $json.shoppingListItemId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MEALIE_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "b1c2d3e4-0010-4000-a000-000000000030",
      "name": "Fetch Item - Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        180
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.MEALIE_URL }}/api/households/shopping/items/{{ $json.shoppingListItemId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MEALIE_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "b1c2d3e4-0010-4000-a000-000000000031",
      "name": "Fetch Item - Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        340
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst extras = item.extras ?? {};\nif (extras.synced_from === \"n8n\") { return []; }\nconst note = item.note ?? \"\";\nconst foodName = item.food?.name ?? \"\";\nconst quantity = item.quantity ?? \"\";\nconst unit = item.unit?.name ?? \"\";\nlet itemName = \"\";\nif (foodName) {\n  itemName = foodName;\n  if (quantity) {\n    const unitStr = unit ? \" \" + unit : \"\";\n    itemName = quantity + unitStr + \" \" + foodName;\n  }\n} else if (note) {\n  itemName = note;\n} else {\n  itemName = \"Unknown item\";\n}\nreturn [{ json: { itemName: itemName.trim() } }];"
      },
      "id": "b1c2d3e4-0010-4000-a000-000000000004",
      "name": "Extract Name - Add",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst extras = item.extras ?? {};\nif (extras.synced_from === \"n8n\") { return []; }\nconst note = item.note ?? \"\";\nconst foodName = item.food?.name ?? \"\";\nconst quantity = item.quantity ?? \"\";\nconst unit = item.unit?.name ?? \"\";\nconst checked = item.checked ?? false;\nlet itemName = \"\";\nif (foodName) {\n  itemName = foodName;\n  if (quantity) {\n    const unitStr = unit ? \" \" + unit : \"\";\n    itemName = quantity + unitStr + \" \" + foodName;\n  }\n} else if (note) {\n  itemName = note;\n} else {\n  itemName = \"Unknown item\";\n}\nreturn [{ json: { itemName: itemName.trim(), checked } }];"
      },
      "id": "b1c2d3e4-0010-4000-a000-000000000006",
      "name": "Extract Name - Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HA_URL }}/api/services/shopping_list/add_item",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.HOMEASSISTANT_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.itemName }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "b1c2d3e4-0010-4000-a000-000000000005",
      "name": "HA - Add Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        180
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "checked-bool",
              "leftValue": "={{ $json.checked }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b1c2d3e4-0010-4000-a000-000000000007",
      "name": "Is Checked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1620,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HA_URL }}/api/services/shopping_list/complete_item",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.HOMEASSISTANT_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.itemName }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "b1c2d3e4-0010-4000-a000-000000000008",
      "name": "HA - Complete Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HA_URL }}/api/services/shopping_list/incomplete_item",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.HOMEASSISTANT_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.itemName }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "b1c2d3e4-0010-4000-a000-000000000009",
      "name": "HA - Incomplete Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst itemId = input.shoppingListItemId;\nconst staticData = $getWorkflowStaticData(\"global\");\nconst cache = staticData.itemNameCache ?? {};\nconst itemName = cache[itemId];\nif (!itemName) { return []; }\ndelete cache[itemId];\nstaticData.itemNameCache = cache;\nreturn [{ json: { itemName } }];"
      },
      "id": "b1c2d3e4-0010-4000-a000-000000000010",
      "name": "Lookup Deleted Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HA_URL }}/api/services/shopping_list/remove_item",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.HOMEASSISTANT_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.itemName }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "b1c2d3e4-0010-4000-a000-000000000011",
      "name": "HA - Remove Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        520
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst itemId = item.id;\nconst note = item.note ?? \"\";\nconst foodName = item.food?.name ?? \"\";\nconst quantity = item.quantity ?? \"\";\nconst unit = item.unit?.name ?? \"\";\nlet itemName = \"\";\nif (foodName) {\n  itemName = foodName;\n  if (quantity) {\n    const unitStr = unit ? \" \" + unit : \"\";\n    itemName = quantity + unitStr + \" \" + foodName;\n  }\n} else if (note) { itemName = note; }\nif (itemId && itemName) {\n  const staticData = $getWorkflowStaticData(\"global\");\n  const cache = staticData.itemNameCache ?? {};\n  cache[itemId] = itemName.trim();\n  const keys = Object.keys(cache);\n  if (keys.length > 500) { delete cache[keys[0]]; }\n  staticData.itemNameCache = cache;\n}\nreturn $input.all();"
      },
      "id": "b1c2d3e4-0010-4000-a000-000000000040",
      "name": "Cache Item Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Shopping List \u2014 Mealie \u2192 Home Assistant\n\nListens for Mealie Apprise event notifications (via json:// URL).\nMealie sends document_data with item IDs \u2014 the workflow fetches\nfull item details from the Mealie API, then syncs to HA.\n\n**Flow:**\n1. Receive Apprise JSON webhook from Mealie\n2. Parse document_data to extract operation + item ID\n3. Fetch item details from Mealie API (for create/update)\n4. Cache item names in static data (for delete lookups)\n5. Push change to HA Shopping List\n\n**Loop prevention:**\n- Items with extras.synced_from = n8n are skipped\n- Deletes use cached names; missed deletes handled by reconciliation",
        "width": 520,
        "height": 380
      },
      "id": "b1c2d3e4-0010-4000-a000-000000000099",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        -200
      ]
    }
  ],
  "connections": {
    "Mealie Webhook": {
      "main": [
        [
          {
            "node": "Parse Apprise Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Apprise Event": {
      "main": [
        [
          {
            "node": "Is Item Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Item Event?": {
      "main": [
        [
          {
            "node": "Route by Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Operation": {
      "main": [
        [
          {
            "node": "Fetch Item - Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Item - Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lookup Deleted Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Item - Create": {
      "main": [
        [
          {
            "node": "Cache Item Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Item Name": {
      "main": [
        [
          {
            "node": "Extract Name - Add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Name - Add": {
      "main": [
        [
          {
            "node": "HA - Add Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Item - Update": {
      "main": [
        [
          {
            "node": "Extract Name - Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Name - Update": {
      "main": [
        [
          {
            "node": "Is Checked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Checked?": {
      "main": [
        [
          {
            "node": "HA - Complete Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HA - Incomplete Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Deleted Item": {
      "main": [
        [
          {
            "node": "HA - Remove Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "versionId": "2",
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "shopping-list"
    },
    {
      "name": "mealie"
    },
    {
      "name": "home-assistant"
    }
  ]
}
